.title{
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 100%;
    position: absolute;
}

.text-main{
    color: #FFBF00;
}

.panel-main>.panel-heading{
    color: #ffffff;
    background-color: #FFBF00;
    border: none;
}

#menu{
    background: url("/img/open.png") center center no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    float: right;
    color: #ffffff;
    border: none;
    padding: 0;
}

#back{
    float: left;
    margin-left: 10px;
    width: 50px;
}

#page{
    padding: 20px;
}

button {
    width: 100%;
}

.submit{
     margin-top: 20px;
}

#choose-contact-page .or{
    text-align: center;
}

form h2{
    margin-bottom: 25px;
}

.no-pointer-events{
    pointer-events: none;
}

#wait-loader-backdrop{
    height: 100%;
    background-color: rgba(44, 62, 80, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10000;
    pointer-events: none;
}

#wait-loader-backdrop .spinner-new {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    background-image: url("/img/spinner.gif");
}

label.error{
    color: #ee5f5b;
    margin-top: 5px;
}

#shoot-show-page .shoot-date{
    color: #FFBF00;
}

/*button, input, select, textarea {*/
    /*height: 45px;*/
/*}*/
